/*Timer and Timer initiating instructions*/

#gameContainer {
    position: absolute;
    top: 150px;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    max-width: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* Game Image */

#gameImageOuter {
    text-align: center;
}
#gameImageInner {
    background-color: white;
    outline: 3px dashed #7B7B7B;
    outline-offset: -6px;
    border: 10px solid white;
    display: inline-block;
    margin: 16px;
    max-width: 90%;
    overflow: hidden;
}
#gameFrame {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    filter: blur(20px);
    height: 60%;
}

/* Game Timer */

#timer {
    width: 100%;
}

#timerIcon {
    height: 22px;
    transform: translateY(2px);
    margin-top: 3px;
}
#timerValue {
    font-size: 24px;
    color: white;
    position: relative;
    height: 32px;
    margin-top: 3px;
}
#scoreLabel {
    margin-top: 3px;
    font-size: 24px;
    color: white;
    position: relative;
    height: 32px;
    float:right;
}
#roundLabel {
    margin-top: 3px;
    font-size: 24px;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 32px;

}

#totalTime {
    background-color: grey;
    border-radius: 5px;
    margin: auto;
    width: 100%;
}
#timePassed {
    border-radius: 5px;
    height: 30px;
    transition-timing-function: linear;
    width: 0;
}

/* User Input */

#guess {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
#guess div{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#guess div input{
    width: 100%;
}
#gameoverScreen {
    background-color: white;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
#gameoverScreen div {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/*game over page*/

img.gameOverFrame {
    display: block;
    margin: auto;
    padding: 20px;
    width: 40%;
}
