/*Timer and Timer initiating instructions*/

#totalTime {
    background-color: grey;
    border-radius: 5px;
    margin: auto;
    width: 40%;
}
#timePassed {
    border-radius: 5px;
    height: 30px;
    transition-timing-function: linear;
    width: 0;
}
#endGame {
    padding: 20px;
    padding-bottom: 200px;
    text-align: center;
}
#endGame button {
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: -9px 9px #86C7DC;
    color: #8AD2E8;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
}
#endGame button:hover {
    box-shadow: -9px 12px #86C7DC;
}
#guess {
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
}
#guess div{
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#guess div input{
    width: 100%;
}
.gameFrame {
    display: block;
    filter: blur(20px);
    margin: auto;
    padding: 20px;
    width: 40%;
}
.gameoverScreen {
    background-color: white;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.gameoverScreen div {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/*game over page*/

img.gameOverFrame {
    display: block;
    margin: auto;
    padding: 20px;
    width: 40%;
}
