/* Home Page CSS Styling */

#title a {
    color: white;
    font-size: 5em;
    left: 50%;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: -9px 9px #86C7DC;
    top: 10%;
    transform: translate(-50%, 0);
    transition: 0.1s;
}
#title a:hover {
    text-shadow: -9px 12px #86C7DC;
}
#skyDesignLogo {
    left: 1%;
    position: absolute;
    top: 1%;
    width: 64px;
}
#helpButton {
    background-color: white;
    border-radius: 100px;
    box-shadow: -9px 9px #86C7DC;
    cursor: pointer;
    height: 32px;
    left: 3%;
    padding: 12px;
    position: absolute;
    top: 10%;
    transition: 0.1s;
    width: 32px;
}
#helpButton:hover {
    box-shadow: -9px 12px #86C7DC;
}
#facebookButton {
    background-color: white;
    border-radius: 100px;
    box-shadow: -9px 9px #86C7DC;
    height: 32px;
    padding: 12px;
    position: absolute;
    right: 3%;
    top: 10%;
    transition: 0.1s;
    width: 32px;
}
#facebookButton:hover {
    box-shadow: -9px 12px #86C7DC;
}
#photoStack::before {
    box-shadow: inset 0 0 100px 150px #8AD2E8;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
#photoStack {
    left: 50%;
    max-height: 50%;
    overflow: hidden;
    padding: 100px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    z-index: -10;
}
ul {
    list-style-type: none;
}
#photoStack img {
    display: inline;
    float: left;
    padding: -10px;
    text-align: center;
}
#greetingMsg {
    bottom: 20%;
    color: white;
    font-size: 24px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
}
#start {
    bottom: 10%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, 0);
}
#start button {
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: -9px 9px #86C7DC;
    color: #8AD2E8;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    transition: 0.1s;
}
#start button:hover {
    box-shadow: -9px 12px #86C7DC;
}
