/* Leaderboard Page CSS Styling */
#parentLeaderboard ul {
    list-style:none;
}

#parentLeaderboard ul li {
    padding-top: 4px;
    padding-bottom: 4px;
    border-bottom: 1px solid grey;
}
#parentLeaderboard {
    position: absolute;
    left: 50%;
    top: 150px;
    bottom: 5%;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
}
#more {
    transform: rotate(90deg);
    cursor: pointer;
    transition: 0.2s;
}
#leaderboardOuter {
    width: 100%;
    display: inline-block;
}
#leaderboardPlayers {
    background-color: white;
    border-radius: 15px;
    box-shadow: -9px 9px #86C7DC;
    display: inline-block;
    padding: 15px 25px;
    width: 50%;
    margin: 16px 0;
    /*not the right style*/
}
#playerInformation {
    background-color: white;
    border-radius: 15px;
    box-shadow: -9px 9px #86C7DC;
    display: inline-block;
    padding: 10px 20px;
    /*not the right style*/
}
#facebookButton {
    background-color: white;
    border-radius: 100px;
    box-shadow: -9px 9px #86C7DC;
    height: 32px;
    margin: 10px;
    padding: 12px;
    position: inherit;
    right: 50%;
    top: 50%;
    transition: 0.1s;
    width: 32px;
}
#facebookButton:hover {
    box-shadow: -9px 12px #86C7DC;
}
