/* Leaderboard Page CSS Styling */

#leaderboardPlayers {
    background-color: white;
    border-radius: 15px;
    box-shadow: -9px 9px #86C7DC;
    display: inline-block;
    font-family: times;
    height: 150%;
    padding: 15px 25px;
    position: relative;
    right: 200px;
    width: 30%;
    /*not the right style*/
}
#playerInformation {
    background-color: white;
    border-radius: 15px;
    box-shadow: -9px 9px #86C7DC;
    display: inline-block;
    font-family: times;
    left: 200px;
    padding: 10px 20px;
    /*not the right style*/
    position: relative;
}
#facebook {
    font-family: times;
    /*not the right style*/
}
#facebookButton {
    background-color: white;
    border-radius: 100px;
    box-shadow: -9px 9px #86C7DC;
    height: 32px;
    margin: 10px;
    padding: 12px;
    position: inherit;
    right: 50%;
    top: 50%;
    transition: 0.1s;
    width: 32px;
}
#facebookButton:hover {
    box-shadow: -9px 12px #86C7DC;
}
