/* Leaderboard Page CSS Styling */

#leaderBoardPlayers{
  padding: 15px 25px;
  background-color: white;
  display: inline-block;
  box-shadow: -9px 9px #86C7DC;
  border-radius: 15px;
  position: relative;
  right: 200px;
  height: 150%;
  width: 30%;
  font-family:times;/*not the right style*/
}

#Playerinformation{
  padding: 10px 20px;
  background-color: white;
  display: inline-block;
  box-shadow: -9px 9px #86C7DC;
  border-radius: 15px;
  font-family:times; /*not the right style*/
  position: relative;
  left: 200px;
}

#facebook{
	font-family:times; /*not the right style*/

}