/* Universal Navigation CSS Styling */

.universalNav {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    z-index: 100;
}
.universalNav h1 {
    background-color: white;
    color: #8AD2E8;
    font-size: 32px;
    padding: 20px;
}
.universalNav ul {
    background-color: white;
    border-bottom: 3px solid #8AD2E8;
    border-top: 3px solid #8AD2E8;
    padding: 20px 0;
    width: 100%;
}
.universalNav li {
    display: inline;
    padding: 0 5%;
}
.universalNav li img {
    height: 20px;
    padding-right: 5px;
}
.universalNav a {
    color: #8AD2E8;
    font-size: 24px;
    text-decoration: none;
}
.universalNav a:hover {
    text-decoration: underline;
}
